.App {
  text-align: center;
  display: grid;
  place-items: center;
}

body{
  background-color: rgb(226, 245, 252);
}

.delete-button{
  color: white;
  background-color: rgb(197, 0, 0);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

table{
  border-collapse: collapse;
  margin-top: 30px;
  background-color: white;
}
td{
  padding: 10px;
}

.deleted-table{
  background-color: rgba(255,0,0,0.1);
}

.restore-button{
  background-color: #4CAF50; 
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.adding-users{
  display: flex;
}

input{
  width: 100px;
  padding: 5px 10px;
  margin: 5px;
}

.add-btn{
color: aliceblue;
background-color: black;
border: none;
padding: 7px 20px;
border-radius: 5px;
}